<h1>New volunteer</h1>

<div class="column-1">
  <%= render :partial => 'form' %>
</div>

<div class="column-2">
  <h2>My Gravatar</h2>
  <p><a href='http://www.gravatar.com'><img src='http://en.gravatar.com/avatar' alt='Gravatar Logo' /></a></p>
  <p><a href='http://www.gravatar.com'>Change your Gravatar</a><p>
  <br/>
</div>

<%= link_to 'Back', volunteers_path %>